nav{
    height: 30px;
    max-width: 100vw;
    background-color:rgb(96, 31, 134);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    padding: 20px 0;
 

}
nav a{
    color: white;
}
.menu-container{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}
.site-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-transform: uppercase;
}

.social-media{
    display: flex;
    gap: 10px;
}